<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Json Viewer</title>
	<style>
		body {
			font-family: consolas;
		}

		ul {
			list-style: none;
			margin: 0;
		}

		.obj {
		}
		
		/* : */
		.colon {
			vertical-align: top;
		}

		/* {} [] */
		.wrap {
			color: #729fcf;
		}

		.obj .wrap.first {
			/*position: absolute;*/
			/*top: 0;*/
			/*left: 55px;*/
		}

		.prop li {
			position: relative;
		}
		
		.key {
			float: left;
			color: #204a87;
			vertical-align: top;
		}

		.key::before {
			content: '-',
			color: red;
		}

		.value {
			color: #4e9a06;
		}
	</style>
</head>
<body>
	<div id="app">
		<span class="wrap first">{{ wrapFirst }}</span>
		<oj :init=true :parsed="parsed"></oj>
	</div>

	<script id="object-tpl" type="text/template">
		<div :class="init ? '' : 'obj'">
			<ul class="prop">
				<li v-for="(k, i) in keys">
					<span class="key">{{ k }}</span><strong class="colon">:</strong> 
					<span class="wrap first" v-if="isObject(k)">{{ wrapFirst(k) }}</span>
					<oj :parsed="values[i]" v-if="isObject(k)"></oj>
					<span v-else class="value">{{ values[i] }}</span>
				</li>
			</ul>
			<span class="wrap">{{ wrap.last }}</span>
		</div>
	</script>
</body>
<script src="js/vue2.js"></script>
<script src="js/vj.js"></script>
</html>