<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue Json Viewer</title>
	<style>
		ul {
			list-style: none;
		}

		.obj {
			/*display: inline-block;*/
/*			position: absolute;
			left: 0;
			top: 0;
*/		}
		
		/* : */
		.colon {
			vertical-align: top;
		}

		/* {} [] */
		.wrap {
			color: #729fcf;
		}

		.obj .wrap.first {
			position: absolute;
			top: 0;
			left: 55px;
		}

		.prop li {
			position: relative;
		}
		
		.key {
			color: #204a87;
			vertical-align: top;
		}

		.value {
			color: #4e9a06;
		}
	</style>
</head>
<body>
	<div id="app">
		<oj :init=true :parsed="parsed"></oj>
	</div>

	<script id="object-tpl" type="text/template">
		<div :class="init ? '' : 'obj'">
			<span class="wrap first">{{ wrap.first }}</span>
			<ul class="prop">
				<li v-for="(k, i) in keys">
					<span class="key">{{ k }}</span><strong class="colon">:</strong> 
					<oj :parsed="values[i]" v-if="isObject(k)"></oj>
					<span v-else class="value">{{ values[i] }}</span>
				</li>
			</ul>
			<span class="wrap">{{ wrap.last }}</span>
		</div>
	</script>
</body>
<script src="js/vue2.js"></script>
<script src="js/vj.js"></script>
</html>